@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: #121213;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contaner {
  border: double 5px #0C25AF;
  width: 1000px;
  height: 500px;
  margin-top: 5%;
  position: relative;
}

.animation {
  -webkit-animation: food 4s linear infinite;
          animation: food 4s linear infinite;
}

.food {
  position: relative;
  left: 3%;
  top: 39%;
  width: 75%;
  height: 60px;
  overflow: hidden;
  margin-left: 15%;
}

.food__row {
  left: 40px;
  top: 0;
  position: absolute;
  width: 100%;
  height: 20px;
}

.food__item {
  margin: 25px;
  display: inline-block;
  background-color: #FFFFFF;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.food__item::after {
  content: "";
  background-color: #FFFFFF;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  margin-left: 95%;
}

.pacman {
  top: 30%;
  left: 5%;
  position: absolute;
  width: 160px;
  height: 160px;
  z-index: 1;
}

.pacman:before, .pacman:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 80px solid #F7F700;
  border-radius: 50%;
  border-right: 80px solid transparent;
  -webkit-animation: animate1 linear .5s infinite;
          animation: animate1 linear .5s infinite;
}

.pacman:after {
  -webkit-animation: animate2 linear .5s infinite;
          animation: animate2 linear .5s infinite;
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes food {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-84.5%);
            transform: translateX(-84.5%);
  }
}

@keyframes food {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-84.5%);
            transform: translateX(-84.5%);
  }
}

.buttom {
  margin-top: 5%;
  background-color: #0C25AF;
  padding: 20px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px #2d376d inset, 0 3px 5px #2d376d, 0 0 1px 1px #2d376d;
          box-shadow: 0 1px #2d376d inset, 0 3px 5px #2d376d, 0 0 1px 1px #2d376d;
}

.buttom:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#1f36b6), color-stop(#2e3fb1), to(#273cb3));
  background: linear-gradient(#1f36b6, #2e3fb1, #273cb3);
}

.buttom:active {
  -webkit-box-shadow: 0 0 1px #2d376d inset, 0 2px 3px #42486e inset, 0 1px 1px #434a74;
          box-shadow: 0 0 1px #2d376d inset, 0 2px 3px #42486e inset, 0 1px 1px #434a74;
}

.buttom__text {
  color: #F7F700;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 4px;
}
/*# sourceMappingURL=style.css.map */