/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
html,body{height:100%;width:100%;background-color:#537F91;box-sizing: border-box;}
input,button,textarea{font-family:inherit;}
button{cursor: pointer;}
/*--------------------*/